:root {
  --max-width: 1200px;

  --color-primary: #201c1c;
  --color-primary-light: rgb(43, 37, 37);

  --color-alert: #e9b95b;
  --color-light: #e8ecec;
  --color-dark: #000000;
  --color-dark-light: #000000a5;

  --font-Poppins: 'Poppins', sans-serif;
  --font-Alegreya: 'Alegreya Sans SC', sans-serif;

  --font-size-xxsm: 0.6rem;
  --font-size-xsm: 1rem;
  --font-size-sm: 1.4rem;
  --font-size-md: 1.4rem;
  --font-size-lg: 1.8rem;
  --font-size-xlg: 2.1rem;
  --font-size-xxlg: 3.1rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
a {
  all: unset;
}
body {
  color: var(--color-light);
  font-family: var(--font-Poppins);
}
body::-webkit-scrollbar {
  width: 5px;
  background-color: #000000c7;
}
body::-webkit-scrollbar-thumb {
  width: 100%;
  height: 90px;
  border-radius: 1rem;
  background-color: #e8e5e52c;
}
body *::-webkit-scrollbar {
  width: 5px;
  background-color: #c9abab1a;
}
body *::-webkit-scrollbar-thumb {
  width: 100%;
  height: 90px;
  border-radius: 1rem;
  background-color: #ffffff2c;
}
.overflowY-none {
  overflow: hidden;
}
